:root {
  --primary-color: #007bff;
  --error-color: #dc3545;
  --highlight-color: #ffc107;
  --text-color: #333;
  --background-color: #ffffff;
  --border-color: #ddd;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

#menu {
  width: 100%;
  margin-bottom: 20px;
}

#menu table {
  width: 100%;
  border-collapse: collapse;
}

#menu th, #menu td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: center;
}

#menu th {
  background-color: #f2f2f2;
}

#pattern-counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#step-name, #pattern-counter, #accuracy-display {
  flex: 1;
  text-align: center;
}

#pattern-counter {
  font-size: 20px;
  text-align: center;
  margin-right: 20px; /* 右側に余白を追加 */
}

#accuracy-display {
  font-size: 20px;
  text-align: center;
}

#target, #echo {
  width: 100%;
  max-width: 800px;
  height: auto;
  min-height: 30px;
  margin: 0 auto 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  color: var(--text-color);
}

#input {
  font-size: 24px; /* デバッグのために表示 */
  margin-top: 20px; /* 表示位置をずらす */
  position: absolute;
  left: -9999px; /* 見えない位置に移動 */
  z-index: -1; /* フォーカスを受け取るためにz-indexを設定 */
}

.correct {
  color: var(--primary-color);
}

.incorrect {
  color: var(--error-color);
}

.next {
  background-color: var(--highlight-color);
}

.hidden {
  display: none; /* 非表示にする */
}

.cursor {
  color: var(--text-color); /* アンダースコアの色を設定 */
}

.blink {
  display: inline-block;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

span.char {
  padding: 0 0.1em; /* 文字間隔を均等に設定 */
  margin: 0 0.1em; /* 文字間隔を均等に設定 */
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  #target, #echo {
    font-size: 18px;
    padding: 15px;
  }

  #menu th, #menu td {
    padding: 5px;
  }
}