body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#menu {
    width: 100%;
    margin-bottom: 20px;
}

#menu table {
    width: 100%;
    border-collapse: collapse;
}

#menu th, #menu td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#menu th {
    background-color: #f2f2f2;
}

#pattern-counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#step-name, #pattern-counter, #accuracy-display {
    flex: 1;
    text-align: center;
}

#pattern-counter {
    font-size: 20px;
    text-align: center;
    margin-right: 20px; /* 右側に余白を追加 */
}

#accuracy-display {
    font-size: 20px;
    text-align: center;
}

#target {
    width: 800px;
    height: 30px;
    margin: 0 auto;
    padding: 20px; /* コンテナ内の余白を追加 */
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

#echo {
    width: 800px;
    height: 30px;
    margin: 0 auto;
    padding: 20px; /* コンテナ内の余白を追加 */
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

#input {
    font-size: 24px; /* デバッグのために表示 */
    margin-top: 20px; /* 表示位置をずらす */
    position: absolute;
    left: -9999px; /* 見えない位置に移動 */
    z-index: -1; /* フォーカスを受け取るためにz-indexを設定 */
}

.correct {
    color: blue;
}

.incorrect {
    color: red;
}

.next {
    background-color: yellow; /* 次の入力を強調表示 */
}

.hidden {
    display: none; /* 非表示にする */
}

.cursor {
    color: black; /* アンダースコアの色を設定 */
}

.blink {
    display: inline-block;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

span.char {
    padding: 0 0.1em; /* 文字間隔を均等に設定 */
    margin: 0 0.1em; /* 文字間隔を均等に設定 */
}